body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: rgb(74, 183, 220);
}

#button{
    height: 80vh;
    width: 80vw;
    font-size: 9vh;
    background-color: rgb(234, 94, 129);
    border-radius: 80px;
}